<header class="navbar">
    <div class="container">
        <a routerLink="/" class="logo">Target Money</a>
        <nav class="nav-menu">
            <ul>
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/stocks">Stocks</a></li>
                <li><a routerLink="/category">Category</a></li>
                <li><a routerLink="/exchange">Exchange</a></li>
            </ul>
        </nav>
        <div class="user-buttons">
            <a routerLink="/login" class="btn">Login</a>
            <a routerLink="/register" class="btn btn-primary">Register</a>
        </div>
    </div>
</header>